name: Quality
on: [push]

jobs:
  check_prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install npm packages
        run: npm install
      - name: Check Prettier
        run: ./node_modules/.bin/prettier --check ./pfSense-pkg-saml2-auth/files

  check_black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: psf/black@stable

  check_php_lint:
    runs-on: ubuntu-latest
    needs: ["check_prettier"]
    strategy:
      matrix:
        PHP_VERSION: ["8.2"]
    steps:
      - uses: actions/checkout@v6
      - name: "Setup PHP ${{ matrix.PHP_VERSION }}"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.PHP_VERSION }}"
          coverage: "none"
      - name: "Run phplint"
        run: |
          curl -Ls https://github.com/overtrue/phplint/releases/download/9.0.3/phplint.phar -o /usr/local/bin/phplint
          chmod +x /usr/local/bin/phplint
          /usr/local/bin/phplint -vvv --no-cache

  check_python_lint:
    runs-on: ubuntu-latest
    needs: ["check_black"]
    strategy:
      matrix:
        PYTHON_VERSION: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.PYTHON_VERSION }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Run pylint
        run: pylint $(git ls-files '*.py')

  check_phpdoc:
    runs-on: ubuntu-latest
    needs: ["check_php_lint"]
    steps:
      - uses: actions/checkout@v6
      - name: Check phpdoc build
        run: |
          wget https://phpdoc.org/phpDocumentor.phar -O phpdoc
          chmod +x ./phpdoc
          ./phpdoc
